#screenLogIn{
    background: #004481;
    margin:0;
    padding:0;
}

#conteinerMain{
    margin:0;
    padding:0;
}

#containerHeader{
    width: 100%;
    z-index: 0;
    display: flex;
}

#containerHeader img:first-child {
width: 100%;
height: auto;
}

#voz{
    z-index: 2;
    height: 5vh;
    position: absolute;
    margin: 8vh 0 0 4vw;
}

.containerLogIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#004481 ;
    /* margin: 0 5vw 0 5vw;
    width: 90%; */
} 

#signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#004481 ;
    padding: 5%;
    width: 100%;
}

p {
    margin: 2% 5% 5% 5%;
    color: white;
}

.containerCreateAccount {
    background-color:#004481 ;
    padding: 4% 0% 4% 0%;
    margin: 4% 5% 4% 5%;
    text-align: center;
    width: 100%;
    color: white;
}

.button{
    background-color: #46759f;
    color: #F9F4F4;
    font-family: 'Yusei Magic', sans-serif;
    width: 131px;
    height: 50px;
    border:none;
    margin: 3% 0% 4% 0%;
    cursor: pointer;
}
 
.button:hover{
    background-color:#c997c0;
    color: white;
    border: 2px solid #c997c0;
}

.input {
    color:white;
    width: 239px;
    height: 35px;
    left: 81px;
    top: 277px;    
    background: #004481;
    border-bottom:2px solid #46759f;
    border-top: 1px solid #004481;
    border-left: 1px solid #004481;
    border-right: 1px solid #004481;
    box-sizing: border-box;
    padding: 3%;
    margin: 2% 1% 1% 1%;
}

a{
    text-decoration: none;
    color:white;
  }

::placeholder { 
      color:white; 
}

#conteinerFooter{
    margin-top:10px;
    width:100vw;
    height:20vh;
    background-color:#004481;
}

#ImageFooter{
    width: 100vw;
}

